  <div class="comment" id="comment_<%= comment.id %>">
    <p>
      <%= image_tag(comment.user.image_url, size: "30", alt: comment.user.name) %> 
      <small>
        <%= link_to comment.user.name, user_path(comment.user.nickname) %> posted on <%= comment.created_at.to_formatted_s(:long_ordinal) %>: 
      </small>
      <br>
      <strong><%= comment.content %></strong>
    </p>

    <% if permitted_to_delete_comment?(comment) %>
      <%= button_to 'Delete', lesson_comment_path(comment.lesson.id, comment.id), { :class => "btn btn-danger btn-xs",  method: :delete, remote: true } %>
      <br>
    <% end %>
  <br>
  </div>