<div class="container lesson-container">
  <div class="floater">
  </div>

  <% if notice %>
    <div class="alert alert-info">
      <p id="notice"><%= notice.html_safe %></p>
    </div>
  <% elsif alert %>
    <div class="alert alert-warning">
      <p id="alert"><%= alert.html_safe %></p>
    </div>
  <% end %>

  <div class="row">

    <div class="col-md-4">

        <div class="lesson prof-banner">
          <p>
            <strong><%= @user.name %></strong> (<%= link_to @user.nickname, "http://www.github.com/#{@user.nickname}" %>)
          </p>
          <%= image_tag(@user.image_url, { size: "250", alt: "#{@user.name} thumbnail", class: "img-responsive img-rounded prof-pic" } ) %> 
          <br>
          <% if @user.bio %>
            <span id="bio-text"><p><%= @user.bio %></p></span>
            <span id="bio-form"><%= button_to 'Update Bio', {controller: :users, action: :edit, nickname: @user.nickname}, {method: :get, remote: :true,class: 'btn btn-primary btn-xs'} %></span>
          <% elsif @user == current_user %>
            <span id="bio-form"><%= render "users/bio_form" %></span>
            <span id="bio-text"></span>
          <% end %>
        </div>

      <div class="lesson">
         <h4>Upcoming</h4>
         <p>
          <strong>As Student</strong>
          <ul>
            <% @user.lessons_by_role_and_status("student", "open").each do |lesson| %>
              <li><%= link_to lesson.title, lesson %></li>
            <% end %>
            <% @user.lessons_by_role_and_status("student", "closed").each do |lesson| %>
              <li><%= link_to lesson.title, lesson %></li>
            <% end %>
          </ul>
        </p>

        <p>
          <strong>As Teacher</strong>
          <ul>
            <% @user.lessons_by_role_and_status("teacher", "open").each do |lesson| %>
              <li><%= link_to lesson.title, lesson %></li>
            <% end %>
            <% @user.lessons_by_role_and_status("teacher", "closed").each do |lesson| %>
              <li><%= link_to lesson.title, lesson %></li>
            <% end %>
          </ul>
        </p>
      </div>

      <div class="lesson">
        <h4>Past</h4>
        <p>
          <strong>As Student</strong>
          <ul>
            <% @user.lessons_by_role_and_status("student", "completed").each do |lesson| %>
              <li><%= link_to lesson.title, lesson %></li>
            <% end %>
          </ul>
        </p>

        <p>
          <strong>As Teacher</strong>
          <ul>
            <% @user.lessons_by_role_and_status("teacher", "completed").each do |lesson| %>
              <li><%= link_to lesson.title, lesson %></li>
            <% end %>
          </ul>
        </p>
      </div>
    </div>

    <div class="col-md-6 col-md-offset-1">
      <div class="lesson">
        <%= link_to 'Calculate xp!', update_xp_user_path(@user.nickname), { class: "btn btn-info btn-lg btn-block", id: "calculate-btn", :'data-loading-text' => "Calculating..." } %>
      </div>
    </div>
      
    <div class="col-md-8">
      <div class="lesson">
        <h3>Topics <small>Take and Teach to level up your topics!</small></h3>
        <br>
        <%= render @user.experiences.by_category("topic").order_by_level %>
      </div>

      <div class="lesson">
        <h3>Languages <small>Calculate xp from Github to level up your languages!</small></h3>
        <br>
        <%= render @user.experiences.by_category("language").order_by_level %>
      </div>
    </div>

  </div>
</div>

