<div class="container lesson-container">
  <div class="floater">
  </div>

  <% if notice %>
    <div class="alert alert-info">
      <p id="notice"><%= notice.html_safe %></p>
    </div>
  <% elsif alert %>
    <div class="alert alert-warning">
      <p id="alert"><%= alert.html_safe %></p>
    </div>
  <% end %>

  <div class="row">

    <div class="col-md-5">
      <div class="lesson">
        <p>
          <strong><%= @user.name %></strong> (<%= link_to @user.nickname, "http://www.github.com/#{@user.nickname}" %>)
        </p>
        <%= image_tag(@user.image_url, { size: "250", alt: "#{@user.name} thumbnail", class: "img-responsive img-rounded" } ) %> 
        <br>

         <p>
          <strong>Upcoming Lessons as Student</strong>
          <ul>
            <% @user.lessons_by_role_and_status("student", "open").each do |lesson| %>
              <li><%= link_to lesson.title, lesson %></li>
            <% end %>
            <% @user.lessons_by_role_and_status("student", "closed").each do |lesson| %>
              <li><%= link_to lesson.title, lesson %></li>
            <% end %>
          </ul>
        </p>

        <p>
          <strong>Upcoming Lessons as Teacher</strong>
          <ul>
            <% @user.lessons_by_role_and_status("teacher", "open").each do |lesson| %>
              <li><%= link_to lesson.title, lesson %></li>
            <% end %>
            <% @user.lessons_by_role_and_status("teacher", "closed").each do |lesson| %>
              <li><%= link_to lesson.title, lesson %></li>
            <% end %>
          </ul>
        </p>

        <p>
          <strong>Past Lessons as Student</strong>
          <ul>
            <% @user.lessons_by_role_and_status("student", "completed").each do |lesson| %>
              <li><%= link_to lesson.title, lesson %></li>
            <% end %>
          </ul>
        </p>

        <p>
          <strong>Past Lessons as Teacher</strong>
          <ul>
            <% @user.lessons_by_role_and_status("teacher", "completed").each do |lesson| %>
              <li><%= link_to lesson.title, lesson %></li>
            <% end %>
          </ul>
        </p>
      </div>
    </div>

    <div class="col-md-7">
      <div class="lesson">
        <h2>Experience</h2>
        <%= link_to 'Calculate xp', update_xp_user_path(@user.nickname), { class: "btn btn-info" } %>
        <%= render @user.experiences %>
      </div>
    </div>

</div>

