<p id="notice"><%= notice %></p>

<img src="<%= @user.image_url %>" alt="<%= @user.name %> thumbnail" class="img-responsive" style="width:250px; height:250px;">

<p>
  <strong>Name:</strong>
  <%= @user.name %>, (<%= @user.nickname %>)
</p>
