<div class="container">
<div class="jumbotron">
  <p id="notice"><%= notice %></p>

  <img src="<%= @user.image_url %>" alt="<%= @user.name %> thumbnail" class="img-responsive" style=" height:280px; float:right">

  <p>
    <strong><%= @user.name %></strong> (<%= @user.nickname %>)
  </p>
  <br>

  <p>
    <strong>Upcoming Lessons as Student</strong>
    <ul>
      <% @user.lessons_by_role_and_status("student", "open").each do |lesson| %>
        <!-- <li><%#= lesson.title %></li> -->
        <li><%= link_to lesson.title, lesson %></li>
      <% end %>
      <% @user.lessons_by_role_and_status("student", "closed").each do |lesson| %>
        <li><%= link_to lesson.title, lesson %></li>
      <% end %>
    </ul>
  </p>

  <p>
    <strong>Upcoming Lessons as Teacher</strong>
    <ul>
      <% @user.lessons_by_role_and_status("teacher", "open").each do |lesson| %>
        <li><%= link_to lesson.title, lesson %></li>
      <% end %>
      <% @user.lessons_by_role_and_status("teacher", "closed").each do |lesson| %>
        <li><%= link_to lesson.title, lesson %></li>
      <% end %>
    </ul>
  </p>

  <p>
    <strong>Past Lessons as Student</strong>
    <ul>
      <% @user.lessons_by_role_and_status("student", "completed").each do |lesson| %>
        <li><%= link_to lesson.title, lesson %></li>
      <% end %>
    </ul>
  </p>

  <p>
    <strong>Past Lessons as Teacher</strong>
    <ul>
      <% @user.lessons_by_role_and_status("teacher", "completed").each do |lesson| %>
        <li><%= link_to lesson.title, lesson %></li>
      <% end %>
    </ul>
  </p>

</div>
</div>

