<h3><%= experience.tag.name %> <small>(Level <%= experience.level %>)</small></h3>
  <p>Taken: <%= experience.taken %> | 
  Taught: <%= experience.taught %> | 
  Github Score: <%= experience.gh_stat %></p>
  <div class="progress progress-striped">
    <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="<%= experience.percent_to_next_level %>" aria-valuemin="0" aria-valuemax="100" style="width: <%= experience.percent_to_next_level %>%">
      <span><%= experience.percent_to_next_level %>% to next level</span>
    </div>
  </div>