<div class="container lesson-container">
  <div class="floater">
  </div>

  <% if notice %>
    <div class="alert alert-info">
      <p id="notice"><%= notice.html_safe %></p>
    </div>
  <% elsif alert %>
    <div class="alert alert-warning">
      <p id="alert"><%= alert.html_safe %></p>
    </div>
  <% end %>

  <div class="row">
    <div class="col-md-6">
      <div class="lesson">
        <h2>Topics</h2>
        <br>
        <p>
          <% @topic_tags.each do |tag| %>
            <%= link_to "#{tag.name} (#{tag.lessons.length})", tag_path(tag.slug), class: "tag_box" %>
          <% end %>
        </p>
      </div>

      <div class="lesson">
        <%= render 'tags/form' %>
      </div>

      <div class="lesson">
        <h2>Times</h2>
        <br>
        <p>
        <% @time_tags.each do |tag| %>
          <%= link_to "#{tag.name} (#{tag.lessons.length})", tag_path(tag.slug), class: "tag_box" %>
        <% end %>
        </p>
      </div>
    </div>

    <div class="col-md-6">
      <div class="lesson">
        <h2>Languages</h2>
        <br>
        <p>
          <% @language_tags.each do |tag| %>
            <%= link_to "#{tag.name} (#{tag.lessons.length})", tag_path(tag.slug), class: "tag_box" %>
          <% end %>
        </p>
      </div>

      <div class="lesson">
        <h2>Locations</h2>
        <br>
        <p>
          <% @location_tags.each do |tag| %>
            <%= link_to "#{tag.name} (#{tag.lessons.length})", tag_path(tag.slug), class: "tag_box" %>
          <% end %>
        </p>
      </div>
    </div>

  </div>

</div> 