  <h4>Admin Actions:</h4>

  <% if @lesson.status == "open" %>
    <%= button_to "Close Lesson!", {:controller => "lessons", :action => "update_status", :id => @lesson.id, :admin_id => @registration.id, :'lesson[status]' => "closed"}, {:method => :patch, :class => "btn btn-warning" } %>
  <% elsif @lesson.status == "closed" %>
    <%= button_to "Open Lesson!", {:controller => "lessons", :action => "update_status", :id => @lesson.id, :admin_id => @registration.id, :'lesson[status]' => "open"}, {:method => :patch, :class => "btn btn-primary" } %>
  <% end %>

  <% unless @lesson.status == "completed" %>
    <%= button_to "Mark Completed", {:controller => "lessons", :action => "update_status", :id => @lesson.id, :admin_id => @registration.id, :'lesson[status]' => "completed"}, {:method => :patch, :class => "btn btn-success", :data => { confirm: 'This will permamently archive the lesson. Are you sure?'} } %>
  <% end %>

  <br>
  <br>

  <%= link_to 'Edit Lesson', edit_lesson_path(@lesson), { class: "btn btn-info" } %>

  <% if one_user?(@lesson) %>
    <%= link_to 'Delete Lesson!', @lesson, { method: :delete, class: "btn btn-danger", data: { confirm: 'Are you sure?' } } %>
  <% end %>

  <br>
  <br>

  <%= button_to "Relinquish Administration!", {:controller => "registrations", :action => "update", :lesson_id => @lesson.id, :id => @registration.id, :'registration[admin]' => "false"}, {:method => :patch, :class => "btn btn-warning"} %>

  <br><br>

  <form action="/lessons/<%= @lesson.id %>/admin_email" method="POST" id="admin_email">
    <%= token_tag %>
    Send an Email to all teachers and students<br>
    Subject: <input type="text" name="subject"><br>
    Body: <textarea name="content"></textarea><br>
    <input type="submit" name="submit" value="Send Email">
  </form>