
<div class="form-group">
  Where is this lesson going to be held? <input type="text" name="lesson[specific_location]" value="<%= @lesson.specific_location %>">
</div>

<div class="form-group">
  When is this lesson going to be held? <input type="text" name="lesson[specific_time]" value="<%= prepopulate_time(@lesson) %>">
</div>

<div class="form-group" id="select-locations" >
  What tags best describe possbile locations of this lesson?
  <select data-placeholder="Select Locations" style="width:280px;" multiple class="chosen-select tag-select form-control" tabindex="8" name="lesson[locations][]">
    <% @location_tags.each do |tag| %>
      <option id="<%= tag.id %>" <%= prepopulate_tags(@lesson, tag) %>><%= tag.name %></option>
    <% end %>
  </select>
</div>

<div class="form-group" id="select-times">
  What tags best describe possible times of this lesson?
  <select data-placeholder="Select Times" style="width:280px;" multiple class="chosen-select tag-select form-control" tabindex="8" name="lesson[times][]">
    <% @time_tags.each do |tag| %>
      <option id="<%= tag.id %>" <%= prepopulate_tags(@lesson, tag) %>><%= tag.name %></option>
    <% end %>
  </select>
</div>