  <h4>Admin Actions:</h4>

  <%= button_to "Close Lesson!", {:controller => "lessons", :action => "update", :id => @lesson.id, :admin_id => @registration.id, :'lesson[status]' => "closed"}, {:method => :patch, :class => "btn btn-primary" } %>

  <%= button_to "Mark Completed", {:controller => "lessons", :action => "update", :id => @lesson.id, :admin_id => @registration.id, :'lesson[status]' => "completed"}, {:method => :patch, :class => "btn btn-success", confirm: 'This will permamently archive the lesson. Are you sure?' } %>

  <%= link_to 'Edit Lesson', edit_lesson_path(@lesson), { class: "btn btn-info" } %>

  <% if one_user?(@lesson) %>
    <%= link_to 'Delete', @lesson, method: :delete, data: { confirm: 'Are you sure?', class: "btn btn-warning" } %>
  <% end %>

  <br>
  <br>

  <%= button_to "Relinquish Administration!", {:controller => "registrations", :action => "update", :lesson_id => @lesson.id, :id => @registration.id, :'registration[admin]' => "false"}, {:method => :patch, :class => "btn btn-warning"} %>