<%= form_for @lesson, html: {role: "form"} do |f| %>

  <% if @lesson.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@lesson.errors.count, "error") %> prohibited this lesson from being saved:</h2>
      <ul>
        <% @lesson.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <input type="hidden" id="user_role" name="role" value="<%= @role %>" />

  <div class="form-group">
    <%= f.label :title %><br>
    <small>Enter a unique title for your lesson</small>
    <%= f.text_field :title, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :description %><br>
    <small>What's your lesson about?</small>
    <%= f.text_area :description, class: 'form-control' %>
  </div>

  <div class="form-group" id="select-topics" style="max-width:700px;">
    <label>Select Topics</label><br>
    <select data-placeholder="Select some topic tags that describe you lesson" style="width:100%;" multiple class="chosen-select tag-select form-control" name="lesson[topics][]">
      <% @topic_tags.each do |tag| %>
        <option id="<%= tag.id %>" <%= prepopulate_tags(@lesson, tag) %>><%= tag.name %></option>
      <% end %>
    </select>

  </div>

  <%= render '/lessons/admin_edit_settings' if admin?(@lesson, current_user) %>

  <div class="form-group">
    <%= f.label :references %><br>
    <small>Enter relevant links (separated by commas) that pertain to your lesson (GitHub repos, Stack Overflow questions, etc.)</small>
    <%= f.text_area :references, class: 'form-control'%>
  </div>

  <div class="form-group">
    <%= f.submit 'Submit', class: 'btn' %>
  </div>
  
<% end %>
