   
<div class="navbar navbar-inverse navbar-static-top">
  <div class="container-fluid">
    <div class="navbar-header">

      <div class="btn-group" data-toggle="buttons">
        <label class="btn btn-primary">
          <input type="checkbox"> Students Needed
        </label>
        <label class="btn btn-primary">
          <input type="checkbox"> Teachers Needed
        </label>
      </div>

    </div>
    <div class="navbar-collapse collapse">
      <form id="filters">
        <select data-placeholder="Select Topics" style="width:300px;" multiple class="chosen-select tag-select" tabindex="8">
          <% @topic_tags.each do |tag| %>
          <option id="<%= tag.id %>"><%= tag.name %></option>
          <% end %>
        </select>
        <select data-placeholder="Select Locations" style="width:220px;" multiple class="chosen-select tag-select" tabindex="8">
          <% @location_tags.each do |tag| %>
          <option id="<%= tag.id %>"><%= tag.name %></option>
          <% end %>
        </select>
        <select data-placeholder="Select Times" style="width:220px;" multiple class="chosen-select tag-select" tabindex="8">
          <% @time_tags.each do |tag| %>
          <option id="<%= tag.id %>"><%= tag.name %></option>
          <% end %>
        </select>
      </form>
    </div>
  </div>
</div>
</div>