<div class="jumbotron lesson col-md-5">

  <% if @is_admin %>

 <%= button_to "Relinquish Administration!", {:controller => "registrations", :action => "update", :lesson_id => @lesson.id, :id => @registration.id, :'registration[admin]' => "false"}, {:method => :patch, :class => "btn btn-danger"} %>

  <%= link_to 'Edit', edit_lesson_path(@lesson) %> | 
  <%= link_to 'Delete', @lesson, method: :delete, data: { confirm: 'Are you sure?' } %>

  <% elsif @admin %>

  <h4>This lesson's admin is: <%= link_to @admin.name, user_path(@admin.nickname) %> <%= image_tag(@admin.image_url, size: "50", alt: @admin.name ) %></h4>
  
  <% else %>

 <%= button_to "Admin This!", {:controller => "registrations", :action => "update", :lesson_id => @lesson.id, :id => @registration.id, :'registration[admin]' => "true"}, {:method => :patch, :class => "btn btn-success"} %>

 <% end %>

 <h4>Logistics</h4>
     <% unless @lesson.location_tags == [] %>
  <p>
    Possible Locations: 
    <% @lesson.location_tags.each do |location_tag| %>
    <%= location_tag.name %> 
    <% end %>
  </p>
  <% end %>

    <% unless @lesson.time_tags == [] %>
  <p>
    Possible Times: 
    <% @lesson.time_tags.each do |time_tag| %>
    <%= time_tag.name %> 
    <% end %>
  </p>
  <% end %>

  <div id="current_teachers">
  </div>
  <div id="current_students">
    
  </div>

</div>