<div class="jumbotron lesson" data-students="<%= lesson.students.length %>" data-teachers="<%= lesson.teachers.length %>" data-location="remote" data-tags="<%= lesson.tag_ids_to_array %>">
  <h1><%= link_to lesson.title, lesson %></h1>
  <p class="lead"><%= lesson.description %></p>

  <p><%= lesson.students.length %> people have signed up to take this class. Join them? 
  <a class="btn btn-lg btn-success" href="#" role="button">Take This!</a></p>
  <p><%= lesson.teachers.length %> people have signed up to teach this class. Join them? 
  <a class="btn btn-lg btn-success" href="#" role="button">Teach This!</a></p></p>

    <%= link_to 'Edit', edit_lesson_path(lesson) %>
  </p>
</div>