<div class="col-md-6">
  <div class="jumbotron lesson" data-students="<%= lesson.students.length %>" data-teachers="<%= lesson.teachers.length %>" data-location="remote" data-tags="<%= lesson.tag_ids_to_array %>">
    <h1><%= link_to lesson.title, lesson %></h1>
    <p class="lead"><%= lesson.description %></p>

    <p><%= lesson.students.length %> people have signed up to take this class. 
      <%= button_to "Take This!", {:controller => "registrations", :action => "create", :lesson_id => lesson.id, :'registration[role]' => "student"}, {:class => "btn btn-success"} %></p>

    <p><%= lesson.teachers.length %> people have signed up to teach this class.
        <%= button_to "Teach This!", {:controller => "registrations", :action => "create", :lesson_id => lesson.id, :'registration[role]' => "teacher"}, {:class => "btn btn-warning"} %></p>
  </div>
</div>