  <% if @admin %>

    <h4>This lesson's admin is: <%= image_tag(@admin.image_url, size: "30", alt: @admin.name ) %> <%= link_to @admin.name, user_path(@admin.nickname) %></h4>
  
  <% else %>

    <%= button_to "Admin This!", {:controller => "registrations", :action => "update", :lesson_id => @lesson.id, :id => @registration.id, :'registration[admin]' => "true"}, {:method => :patch, :class => "btn btn-success"} %>

  <% end %>

    <% if @is_admin %>
      <%= render "lessons/admin_panel" %>
    <% end %>

      <%= button_to "Leave Lesson!", {:controller => "registrations", :action => "destroy", :lesson_id => @lesson.id, :id => @registration.id }, {:method => :delete, :class => "btn btn-danger"} %>
