<div class="container lesson-container">
  <div class="floater">
  </div>

  <% if notice %>
    <div class="alert alert-info">
      <p id="notice"><%= notice %></p>
    </div>
  <% end %>

  <div class="row">
    <div class="col-md-6">
      <div class="jumbotron lesson">
        <h3><%= @lesson.title %></h3>
        <br>
        <p><strong>Description:</strong> <%= @lesson.description %></p>
        <p><strong>References:</strong> <%= @lesson.references %></p>
        <p><strong>Tags:</strong>
          <% @lesson.topic_tags.each do |topic_tag| %>
            <%= topic_tag.name %> 
          <% end %>
        </p>
        <% if @lesson.specific_location %>
          <p><strong>Location:</strong> <%= @lesson.specific_location %></p>
        <% end %>
        <% if @lesson.specific_time %>
          <p><strong>Time:</strong> <%= @lesson.specific_time %></p>
        <% end %>
      </div>
    </div>

      <div class="col-md-6">
      <% if @registration %>
       <%= render "lessons/lesson_registered" %>
      <% else %>
       <%= render "lessons/lesson_unregistered" %>
      <% end %>
     </div>
  </div>

  <div class="col-md-12">
    <div class="jumbotron lesson">
      <p><strong>Comments:</strong></p>
      <br>
      <% @lesson.comments.each do |comment| %>
        <p><%= image_tag(comment.user.image_url, size: "26", alt: comment.user.name) %> <%= link_to comment.user.name, user_path(comment.user.nickname) %> posted on <%= comment.created_at.to_formatted_s(:long_ordinal) %>:</p>
        <p><%= comment.content %></p>

        <%= button_to 'Delete', lesson_comment_path(@lesson.id, comment.id), :class => "btn btn-danger btn-xs",  method: :delete %>

        <br>
        <br>
      <% end %>
      

      <h4>Leave a New Comment</h4>
      <!-- <form action="/lessons/<%#= @lesson.id %>/comments" method="POST" role="form"> -->

      <%#= form_for(@menu_items, :url => restaurant_menu_items_path(@menu_items.restaurant)) do |f| %>

      <%= form_for [@lesson, @comment], html: {role: "form"} do |f| %>

        <% if @comment.errors.any? %>
          <div class="alert alert-warning">
            <% @comment.errors.full_messages.each do |msg| %>
              <p><%= msg %></p>
            <% end %>
          </div>
        <% end %>

        <!-- <label>Your User ID: <input type="text" name="user_id"></label> -->
        <div class="form-group">
          <textarea class="form-control" name="content" placeholder="Write your comment here"></textarea>
        </div>
        <input type="submit" value="Post Comment" class="btn">
      <% end %>
    </div>
  </div>
</div> 