<p id="notice"><%= notice %></p>


<div class="jumbotron">
  <p>
    <strong>Title:</strong>
    <%= @lesson.title %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= @lesson.description %>
  </p>

  <p>
    <strong>Tags</strong>
  </p>

  <p>
    <em>Topics:</em>
    <% @lesson.topic_tags.each do |topic_tag| %>
    <%= topic_tag.name %> 
    <% end %>
  </p>
  <p>
    <em>Locations:</em>
    <% @lesson.location_tags.each do |location_tag| %>
    <%= location_tag.name %> 
    <% end %>
  </p>
  <p>
    <em>Times:</em>
    <% @lesson.time_tags.each do |time_tag| %>
    <%= time_tag.name %> 
    <% end %>
  </p>

  <p>
    <strong>Teachers:</strong>
  </p>

  <% if @lesson.teachers != [] %>
  <p><% @lesson.teachers.each do |teacher| %> 
    <%= teacher.name %>
    <% end %>
    have signed up to teach this class.</p>
    <% else %>
    <p>No one has signed up to teach this class yet!</p>
    <% end %>
    <%= button_to "Teach This!", {:controller => "user_lessons", :action => "create", :'user_lesson[role]'=> "teacher", :'user_lesson[lesson_id]' => @lesson.id }, {:class => "btn btn-success"}  %>
    <br>
  <p>
    <strong>Students:</strong>
  </p>
  <% if @lesson.students != [] %>
  <p><% @lesson.students.each do |student| %> 
    <%= student.name %>
    <% end %>
    have signed up to take this class.</p>
    <% else %>
    <p>No one has signed up to take this class yet!</p>
    <% end %> 
    <%= button_to "Take This!", {:controller => "user_lessons", :action => "create", :'user_lesson[role]' => "student", :'user_lesson[lesson_id]' => @lesson.id }, {:class => "btn btn-warning"}   %>
<br>
    <p>
      <strong>References:</strong>
      <%= @lesson.references %>
    </p>

    <%= link_to 'Edit', edit_lesson_path(@lesson) %> | 
    <%= link_to 'Delete', @lesson, method: :delete, data: { confirm: 'Are you sure?' } %>
  </div>
