<div class="container lesson-container">
  <div class="floater">
  </div>

  <% if notice %>
    <div class="alert alert-info">
      <p id="notice"><%= notice.html_safe %></p>
    </div>
  <% elsif alert %>
    <div class="alert alert-warning">
      <p id="alert"><%= alert.html_safe %></p>
    </div>
  <% end %>

  <div class="row">
    <div class="col-md-6">
      <div class="lesson">
        <h3><%= @lesson.title %></h3>
        <br>
        <p><strong>Description:</strong> <%= @lesson.description %></p>
        <p><strong>References:</strong><ul><%= linkify_references(@lesson) %></ul></p>
        <p><strong>Tags:</strong>
          <% @lesson.tags.each do |tag| %>
            <%= link_to tag.name, tag_path(tag.slug), class: "tag_box" %> 
          <% end %>
        </p>
        <p><strong>Location:</strong> 
          <%= display_location(@lesson) %>
        </p>
        <p>
          <strong>Time:</strong> 
          <%= display_time(@lesson) %>
        </p>
      
          <%= display_google_calendar_link(@lesson) %>
          
      </div>
    </div>

    <div class="col-md-6">
      <div class="lesson">

        <h4>Logistics:</h4>
        <% unless @lesson.location_tags == [] %>
          <p>
            Possible Locations: 
            <% @lesson.location_tags.each do |tag| %>
              <%= link_to tag.name, tag_path(tag.slug) %> 
            <% end %>
          </p>
        <% end %>

        <% unless @lesson.time_tags == [] %>
          <p>
            Possible Times: 
            <% @lesson.time_tags.each do |tag| %>
              <%= link_to tag.name, tag_path(tag.slug) %> 
            <% end %>
          </p>
        <% end %>

        <div class="row" id="current-registrants">
          <%= render "lessons/current_registrants" %>
        </div>

        <br>

        <div id="registration-info">
          <% if @registration %>
            <%= render "lessons/lesson_registered" %>
          <% else %>
            <%= render "lessons/lesson_unregistered" %>
          <% end %>
        </div>

      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <div class="lesson">
        <p><strong>Comments:</strong></p>
        <br>

        <div id="comments-section">
          <%= render @lesson.comments %>
        </div>

        <h4>Leave a New Comment</h4>

        <%= form_for [@lesson, @comment], {role: "form", remote: true} do |f| %>
          <% if @comment.errors.any? %>
            <div class="alert alert-warning">
              <% @comment.errors.full_messages.each do |msg| %>
                <p><%= msg %></p>
              <% end %>
            </div>
          <% end %>
          <div class="form-group">
            <textarea class="form-control" name="content" placeholder="Write your comment here"></textarea>
          </div>
          <input type="submit" value="Post Comment" class="btn">
        <% end %>

      </div>
    </div>
  </div>

</div> 