<div class="container lesson-container">
  <div class="floater">
  </div>

  <% if notice %>
    <div class="alert alert-info">
      <p id="notice"><%= notice %></p>
    </div>
  <% end %>

  <div class="row">
    <div class="col-md-6">
      <div class="jumbotron lesson">
        <h3><%= @lesson.title %></h3>
        <br>
        <p><strong>Description:</strong> <%= @lesson.description %></p>
        <p><strong>References:</strong> <%= @lesson.references %></p>
        <p><strong>Tags:</strong>
          <% @lesson.topic_tags.each do |topic_tag| %>
            <%= topic_tag.name %> 
          <% end %>
        </p>
        <p><strong>Location:</strong> 
          <%= display_location(@lesson) %>
        </p>
        <p>
          <strong>Time:</strong> 
          <%= display_time(@lesson) %>
        </p>
        <p>
          <%= display_google_calendar_link(@lesson) %>
        </p>
          
      </div>
    </div>

    <div class="col-md-6">
      <div class="jumbotron lesson">

        <h4>Logistics:</h4>
        <% unless @lesson.location_tags == [] %>
          <p>
            Possible Locations: 
            <% @lesson.location_tags.each do |location_tag| %>
              <%= location_tag.name %> 
            <% end %>
          </p>
        <% end %>

        <% unless @lesson.time_tags == [] %>
          <p>
            Possible Times: 
            <% @lesson.time_tags.each do |time_tag| %>
              <%= time_tag.name %> 
            <% end %>
          </p>
        <% end %>

        <div id="current_teachers col-sm-4">
          <h4>Current Teachers:</h4>
            <% unless @lesson.teachers == [] %>
              <% @lesson.teachers.each do |teacher| %>
                <%= image_tag(teacher.image_url, size: "30", alt: teacher.name ) %> <%= link_to teacher.name, user_path(teacher.nickname) %>
              <% end %>
            <% else %>
              <p>No one has volunteered to teach this lesson yet! Will you be the one?</p>
            <% end %>
        </div>

        <div id="current_students col-sm-4">
          <h4>Current Students:</h4>
            <% unless @lesson.students == [] %>
              <% @lesson.students.each do |student| %>
                <%= image_tag(student.image_url, size: "30", alt: student.name ) %> <%= link_to student.name, user_path(student.nickname) %>
              <% end %>
            <% else %>
              <p>No one signed up for this lesson yet! Tell your friends!</p>
            <% end %>
        </div>
        <br>

        <% if @registration %>
          <%= render "lessons/lesson_registered" %>
        <% else %>
          <%= render "lessons/lesson_unregistered" %>
        <% end %>
      </div>
    </div>
  </div>

  <div class="col-md-12">
    <div class="jumbotron lesson">
      <p><strong>Comments:</strong></p>
      <br>
      <% @lesson.comments.each do |comment| %>
        <p><%= image_tag(comment.user.image_url, size: "26", alt: comment.user.name) %> <%= link_to comment.user.name, user_path(comment.user.nickname) %> posted on <%= comment.created_at.to_formatted_s(:long_ordinal) %>:</p>
        <p><%= comment.content %></p>

        <%= button_to 'Delete', lesson_comment_path(@lesson.id, comment.id), :class => "btn btn-danger btn-xs",  method: :delete %>

        <br>
        <br>
      <% end %>
      

      <h4>Leave a New Comment</h4>
      <!-- <form action="/lessons/<%#= @lesson.id %>/comments" method="POST" role="form"> -->

      <%#= form_for(@menu_items, :url => restaurant_menu_items_path(@menu_items.restaurant)) do |f| %>

      <%= form_for [@lesson, @comment], html: {role: "form"} do |f| %>

        <% if @comment.errors.any? %>
          <div class="alert alert-warning">
            <% @comment.errors.full_messages.each do |msg| %>
              <p><%= msg %></p>
            <% end %>
          </div>
        <% end %>

        <!-- <label>Your User ID: <input type="text" name="user_id"></label> -->
        <div class="form-group">
          <textarea class="form-control" name="content" placeholder="Write your comment here"></textarea>
        </div>
        <input type="submit" value="Post Comment" class="btn">
      <% end %>
    </div>
  </div>
</div> 