<p id="notice"><%= notice %></p>

<div class="jumbotron">
<p>
  <strong>Title:</strong>
  <%= @lesson.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @lesson.description %>
</p>

<p>
  <strong>Tags</strong>
</p>

<p>
  <em>Topics:</em>
  <% @topic_tags.each do |topic_tag| %>
  <%= topic_tag.name %> 
  <% end %>
</p>
<p>
  <em>Locations:</em>
  <% @location_tags.each do |location_tag| %>
  <%= location_tag.name %> 
  <% end %>
</p>
<p>
  <em>Times:</em>
  <% @time_tags.each do |time_tag| %>
  <%= time_tag.name %> 
  <% end %>
</p>

<p>
  <strong>References:</strong>
  <%= @lesson.references %>
</p>

<%= link_to 'Edit', edit_lesson_path(@lesson) %>
</div>
