<p id="notice"><%= notice %></p>

<div class="jumbotron lesson">

  <p>
    <strong>Title:</strong>
    <%= @lesson.title %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= @lesson.description %>
  </p>

  <p>
    <strong>Tags</strong>
  </p>

    <% unless @lesson.topic_tags == [] %>
  <p>
    <em>Topics:</em>
    <% @lesson.topic_tags.each do |topic_tag| %>
    <%= topic_tag.name %> 
    <% end %>
  </p>
  <% end %>

    <% unless @lesson.location_tags == [] %>
  <p>
    <em>Locations:</em>
    <% @lesson.location_tags.each do |location_tag| %>
    <%= location_tag.name %> 
    <% end %>
  </p>
  <% end %>

    <% unless @lesson.time_tags == [] %>
  <p>
    <em>Times:</em>
    <% @lesson.time_tags.each do |time_tag| %>
    <%= time_tag.name %> 
    <% end %>
  </p>
  <% end %>

  <p>
    <strong>Teachers:</strong>
  </p>

  <% if @lesson.teachers != [] %>
  <p><% @lesson.teachers.each do |teacher| %> 
    <%= teacher.name %>
    <% end %>
    have signed up to teach this class.</p>
    <% else %>
    <p>No one has signed up to teach this class yet!</p>
    <% end %>

<form action="/lessons/<%= @lesson.id %>/user_lessons" class="button_to" method="post">
  <div>
    <input class="btn btn-warning" type="submit" value="Teach This!" />
    <input type="hidden" name="user_lesson[role]" value="teacher" />
    <input type="hidden" name="user_lesson[lesson_id]" value="<%= @lesson.id %>" />
    <%= token_tag %>
  </div>
</form>
    <br>
  <p>
    <strong>Students:</strong>
  </p>
  <% if @lesson.students != [] %>
  <p><% @lesson.students.each do |student| %> 
    <%= student.name %>
    <% end %>
    have signed up to take this class.</p>
    <% else %>
    <p>No one has signed up to take this class yet!</p>
    <% end %> 

<form action="/lessons/<%= @lesson.id %>/user_lessons" class="button_to" method="post">
  <div>
    <input class="btn btn-success" type="submit" value="Take This!" />
    <input type="hidden" name="user_lesson[role]" value="student" />
    <input type="hidden" name="user_lesson[lesson_id]" value="<%= @lesson.id %>" />
    <%= token_tag %>
  </div>
</form>
<br>
    <p>
      <strong>References:</strong>
      <%= @lesson.references %>
    </p>

    <%= link_to 'Edit', edit_lesson_path(@lesson) %> | 
    <%= link_to 'Delete', @lesson, method: :delete, data: { confirm: 'Are you sure?' } %>
  </div>

  <% if @user_lesson %>
  <%= render "lessons/lesson_registered" %>
  <% end %>
