<div class="container lesson-container">
  <div class="floater">
  </div>

  <% if notice %>
    <div class="alert alert-info">
      <p id="notice"><%= notice.html_safe %></p>
    </div>
  <% elsif alert %>
    <div class="alert alert-warning">
      <p id="alert"><%= alert.html_safe %></p>
    </div>
  <% end %>

  <div class="row">

    <div class="col-md-8 col-md-offset-2">
      <div class="lesson banner">
        <h1>Welcome to xp<br>
          <small>A place to teach and to learn.</small></h1>
        <br>
        <% if !@user %>
         <%= button_to "Login with Github", login_path, {method: :get, class: "btn btn-primary btn-lg"} %>
        <% else %>
          <h4><%= "Hi #{@user.name}" %></h4>
          <br>
            <% if @user.bio %>
              <span id="bio-text"><p><%= @user.bio %></p></span>
              <span id="bio-form"></span>
            <% elsif @user == current_user %>
              <span id="bio-text"></span>
              <span id="bio-form"><%= render "users/bio_form" %></span>
            <% end %>
       <% end %>
      </div>  
    </div>

    <div class="col-md-8 col-md-offset-2">
      <div class="lesson banner">
        <%= link_to 'Browse All Lessons', lessons_path, {class: "btn btn-info btn-lg btn-block"} %>
      </div>
    </div>

    <div class="col-md-4 col-md-offset-2">
      <div class="lesson">
        <%= link_to 'Teach', new_lesson_path(role: 'teacher'), {method: :get, class: "btn btn-warning btn-lg btn-block"} %>
        <br>
        <h4>Share your skills and level up by offering what you know...<br><br>
          or by stepping up and teaching lessons that have been requested.</h4>
      </div>
    </div>

    <div class="col-md-4">
      <div class="lesson">
        <%= link_to 'Learn', new_lesson_path(role: 'student'), {method: :get, class: "btn btn-success btn-lg btn-block"} %>
        <br>
        <h4>Level up by attending lessons on any topic that interests you...<br><br>
          and by requesting new lessons for things you want to learn.</h4>
      </div>
    </div>

  </div>

</div>