<div class="navbar navbar-inverse navbar-static-top" role="navigation">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">xp</a>
        <ul class="nav navbar-nav navbar-right">
          <li><%= link_to 'Teach Lesson', new_lesson_path(role: 'teacher') %></li>
          <li><%= link_to 'Request Lesson', new_lesson_path(role: 'student') %></li>
        </ul>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="#">Profile</a></li>
            <li><a href="#">Help</a></li>
            <% if logged_in? %>
            <li><%= link_to current_user.name, user_path(current_user) %></li>
            <li><%= link_to "Logout", logout_path %></li>
            <% else %>
            <li><%= link_to "Login with Github", login_path %>/li>
            <% end %>
          </ul>
        </div>
      </div>
    </div>