<!DOCTYPE html>
<html>
  <head>
    <title>xp</title>
    <%= stylesheet_link_tag    "application", media: "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
  </head>
  <body class="<%#= controller_name %> <%#= action_name %>">
    
    <%= render "layouts/nav" %>

    <%= yield %>

    <div id="footer">
      <div class="container">
        <p class="text-muted">Made with <span class="glyphicon glyphicon-heart" style="color: red;"></span> & <span class="glyphicon glyphicon-book" style="color: purple;"></span> by <%= link_to "Sam", "http://www.github.com/sts10" %> and <%= link_to "Daniel", "http://www.github.com/kronosapiens" %>, with thanks to <%= link_to "@flatironschool", "https://twitter.com/flatironschool" %> | <%= link_to "About xp", root_path %></p>
      </div>
    </div>

  </body>
  <script src="http://www.gitshoes.com/repos/9.js" type='application/javascript'></script>
</html>
