<!DOCTYPE html>
<html>
<head>
  <title>xp</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <%= render "layouts/nav" %>

  <%= yield %>

  <div id="footer">
    <div class="container">
      <p class="text-muted">Built by Sam and Daniel @ Flatiron</p>
    </div>
  </div>
</body>
</html>
